* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.767);
    box-sizing: border-box;
    width: 100%;
    padding: 50px 0;
    position: relative;
}

.falling-object {
    position: absolute;
    animation: fallAnimation 3s linear;
    z-index: 9999;
}

.falling-object img {
    height: 50px;
}

@keyframes fallAnimation {
    to {
      transform: translateY(100vh);
    }
}

h1 {
    margin: 0;
    padding: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: end;
    gap: 20px;
}

#no-button {
    padding: 10px 25px;
    color: white;
    background-color: rgba(255, 0, 0, 0.678);
    height: 40px !important;
    width: auto;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

#yes-button {
    padding: 10px 25px;
    color: white;
    border: none;
    background-color: rgba(2, 197, 2, 0.658);
    cursor: pointer;
    height: 40px;
    border-radius: 5px;

    p {
        margin: 0;
        object-fit: contain;
    }
}

#heart-container {
    scale: 0.5;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    position: absolute;
    width: 2000px;
    height: 2000px;
    background-color: rgba(0, 0, 0, 0.171);
    display: flex;
    justify-content: center;
    align-items: center;
}

.poraka {
    z-index: 500;
    color: white;
    text-align: center;
    font-size: 3em;
    transition: opacity 0.2s ease-in-out;
    transition: scale 0.5s ease-in-out;
}

#heart {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.9;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    z-index: -1;
    transition: transform 2s ease-in-out;
}